---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Parcours">
	<div>
    <h1>Expériences professionelles</h1>
    <div class="terminal-timeline">
      <section class="terminal-card">
        <header>Développeur chez Aberia</header>
        <div>
          <ul>
            <li>Période : depuis 2021-09-01</li>
            <li>Poste occupé : Ingénieur Logiciel</li>
            <li>Lieu : Aberia Telecommunication</li>
            <a href="https://aberia.fr">
              <img style="margin:auto" height="50" width="100" src="https://www.aberia.fr/wp-content/uploads/2020/01/logo-aberia-2020-1.png" alt="Aberia Telecommunication"/>
            </a>
          </ul>
          <a href="/background/aberia/apprenticeship">Lire plus</a>
        </div>
      </section>

      <section class="terminal-card">
        <header>Développeur chez Aberia</header>
        <div>
          <ul>
            <li>Période : du 2021-02-01 au 2021-08-01</li>
            <li>Poste occupé : Développeur Web</li>
            <li>Lieu : Aberia Telecommunication</li>
            <a href="https://aberia.fr">
              <img style="margin:auto" height="50" width="100" src="https://www.aberia.fr/wp-content/uploads/2020/01/logo-aberia-2020-1.png" alt="Aberia Telecommunication"/>
            </a>
          </ul>
          <a href="/background/aberia/internship">Lire plus</a>
        </div>
      </section>

      <section class="terminal-card">
        <header>Développeur chez Nova</header>
        <div>
          <ul>
            <li>Période : du 2020-08-01 au 2020-08-31</li>
            <li>Poste occupé : Développeur Mobile</li>
            <li>Lieu : Nova Building IT GmbH</li>
            <a href="https://novabuilding.de">
              <img style="margin:auto" height="50" width="100" src="https://www.novabuilding.de/images/logo.png" alt="Nova Building IT GmbH"/>
            </a>
          </ul>
          <a href="/background/nova">Lire plus</a>
        </div>
      </section>
    </div>

    <hr>

    <h1>Formations</h1>
    <div class="terminal-timeline">
      <section class="terminal-card">
        <header>Ingénierie du logiciel</header>
        <div>
          <ul>
            <li>Periode : depuis 2018-09-01</li>
            <li>Diplôme : Expertise en Ingénierie du Logiciel (RNCP 35419)</li>
            <li>Lieu : Groupe AEN - INTECH</li>
            <a href="https://groupe-aen.info">
              <img style="margin:auto" height="50" width="100" src="https://www.groupe-aen.info/wp-content/uploads/2021/02/Logo-GroupeAEN.jpg" alt="Groupe AEN" />
            </a>
          </ul>
          <a href="/background/intech">Lire plus</a>
        </div>
      </section>

      <section class="terminal-card">
        <header>Mathématiques</header>
        <div>
          <ul>
            <li>Période : depuis 2019-10-15</li>
            <li>Diplôme : Licence de Mathétmatiques générales</li>
            <li>Lieu : Aix-Marseille Université</li>
            <a href="https://www.univ-amu.fr/">
              <img style="margin:auto" height="50" width="100" src="https://www.univ-amu.fr/system/files/2021-01/DIRCOM-Logo_AMU_CMJN.png" alt="Aix-Marseille université, socialement engagée" />
            </a>
          </ul>
          <a href="/background/amu">Lire plus</a>
        </div>
      </section>
    </div>

    <hr>

    <h1>Certifications</h1>
    <div class="terminal-timeline">
      <section class="terminal-card">
        <header><abbr title="Test of English for International Communication">TOEIC</abbr></header>
        <div>
          <ul>
            <li>Date : ---</li>
            <li>Test of English for International Communication</li>
          </ul>
        </div>
      </section>
    </div>
    
	</div>
</Layout>


