---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact">
	<div>
		<h1>Contact</h1>

    <br>

    <section>
      <h2>Email</h2> : <a href="mailto:adam.d.e.ambrosino@gmail.com">adam.d.e.ambrosino@gmail.com</a>
    </section>

    <br>

    <section>
      <h2>Linkedin</h2> : <a href="https://www.linkedin.com/in/adam-ambrosino-7a3b84129/">https://www.linkedin.com/in/adam-ambrosino-7a3b84129/</a>
    </section>

    <br>

    <section>
      <h2><abbr title="Visit Card">vCard</abbr></h2> : <a href="/assets/Adam_Ambrosino.vcf" download>Télécharger</a>
    </section>
	</div>
</Layout>


