---
// Component Imports
import Layout from '../layouts/Layout.astro';


// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout title="Accueil">

<h1>
  <em>Adam Ambrosino, Ingénieur Logiciel.</em>
</h1>

<pre style="font-size:8px;line-height:1em">                                                                                                                                                                            
                                                                                                                                                                                                        
                                                                                                                                                                                                        
                                                                                             .::^!!~!77~^~:.                                                                                            
                                                                                         .^!5PGGGBGBGGBBBBGG5J!^.                                                                                       
                                                                                      ~J5GGGGGGGBBGGBBBBBBBGGBBBBPYJ7.                                                                                  
                                                                                   ^JPBBBBBBB#####BB#######B####BBBBBGJ~.                                                                               
                                                                                ^YPGBB######&&&&&&&&#####&&&##BB####BBBBG?.                                                                             
                                                                              .5#BGB####&&&&&&&&&&##BB##&&&&###########BB##?                                                                            
                                                                             !G#BB##&&&&&&&&&&&&&&&&#############&#&&&######5.                                                                          
                                                                           .G#####&&&&&&#&&&&&&&&&&&&########B#####&&&##&&###~                                                                          
                                                                          ^G##&&&&&&&BGGGPGGGGGGBBBBBBGGGGGGGGGBBB#####&&&##B7                                                                          
                                                                         Y####&&&&#GPYJ?????JJJJYPPPP55555PPP55555PPPGG#&&###Y                                                                          
                                                                         Y####&&&GY?7!!!!!77!!7777?JJYYYYYYYYJJJ??JJJJY5G####P                                                                          
                                                                         ~##&&##57!!~~!!~~!~~~!!!!!!77?JJJ?????777777777?P####~                                                                         
                                                                         .B###B57!!!!!!!~~!~~~~~~!!!!!!777777!!~!!!!!!!!7YBB##?                                                                         
                                                                          G##BGY7!!!!!!!~~~~~~~~~~~~~~~~~~~~~~~!!!!!!!!77YBB##P                                                                         
                                                                         .G##BG5?777!!!!!~~~~~~~~~~~~~~~~~~~~!!77!!!!!77?YB###G                                                                         
                                                                         .G###BGYJ?77!!!!!!!!!!!!~~!!!!!!!!777!77777!!777?PB#&G                                                                         
                                                                          J####B5J?7!!!777777???777777?????JY5PPPGP55YJ?77?P#&B                                                                         
                                                                          !####GJ?77J55PGGGGGGP555YYYJY55PGB####BBGGPPP5J77JB&B..                                                                       
                                                                          !###BJ??YPGGGBBB#####BBGGPP5PPGBBBGBGGGGGGGGGGPP5555YYJ7                                                                      
                                                                        .:J#BBPJJ5GGGGGGGGGGGGGGGGP5?77?5PPGGB#&&&##BBGGG&&GY55JYP:                                                                     
                                                                        55JPP55B#&GGGB###&&&#B##BGBP777YBGB##B##BBGGPPPP55J?7Y5JJY~                                                                     
                                                                       ^BP55GGYY5G5PGGGPPGGGBBBBBB&&P?JP&#GGGGGPP555YJJJJ??7?JGP5J:                                                                     
                                                                       ^G5PPGGYJ??JJJYY555PPPP555B&5!^~7Y#GJ???J???7777??????JPGPJ:                                                                     
                                                                        7YGBBPYJJJJ??777777777?JJP57!~~!7J5YJ??7777????????JJJ5G5?:                                                                     
                                                                         ?5BG5JYYYJ???????????JY5Y?77!!777?YYYYJJJYJJJJJJJJJJJ5P??.                                                                     
                                                                         ^YYGPYYYYJJJJJYYYYYYYY55Y55YYYYY55YYYY55YYJJJJJJJJJJYPPJ~                                                                      
                                                                          !J5PYYYYYYYYYYYYYY55YYPG#BPPPPGBBG5JYYYYYYYYYYJJJJJPG?:                                                                       
                                                                           ~YPP5JYYYYYYYYY55YJJJ5GBBBGGGGGGGPYYYYYYYYYYYJJJ?YP:                                                                         
                                                                             :JPYJYYYYY555YYYYYYYPGBBGGBGGGGPY55PPPP5YYYYYJ?5~                                                                          
                                                                               ?5JYYY55555PGGP55PPPPPPPPPPPPPPGGGGGP55555YJJJ                                                                           
                                                                                Y5YY55555PGGGBBBBBBBBBBBBBGGGGPPPPP555PP5YJY.                                                                           
                                                                                 J5YY55P55PPPP555555PPPPP55YYYYYY5555PPP5YY~                                                                            
                                                                                  J5Y5PGPP5P555YYY555PPPPP55YYYY5555PGGG55~                                                                             
                                                                                   !55PGGGGP55YY555PPGGGPP55YYY55PGBB#BBP^                                                                              
                                                                                    ^PGBBBBBBG5YYYYY5PGGP55YY55PGB###BBBY                                                                               
                                                                                     !GB##B###BPP555PPGGPPPPGBB###&##BG5J:                                                                              
                                                                                     ^5GB##&&&##BBBBBBB#BBBB########BPYJJ7~.                                                                            
                                                                                    .?Y5PGBB#&&&&###&&&&&&#&&&&&&#BP5YYJJ?J5!.                                                                          
                                                                                   .JYYY55PPGBB###&&&&&&&&&&###BP55YYYYJJ??5P7^                                                                         
                                                                                  .!JPYY55PPPPPPPPGGGGGGGGPPPP55YYYYYYJJJJJYGJ~^.                                                                       
                                                                                 .^~7PP555PPPPPPP55555555555555YYYYYYYJJJJY5GJ~^^:                                                                      
                                                                                .^^~!JGP5555PPPPPP5P5555PP555555YYYYYYJJJY5PP7~^^^^.                                                                    
                                                                               .^^^^~75BGPP5PPPPPPPPP5PP555555555YYYYYYYY5PBY!^^^^:::.                                                                  
                                                                          ..:^^^^^^^^~7PBGPP5555P55555PPPPPPP555YYYYYYYY55GG7~^^^^:::::..                                                               
                                                                      ..::::::::^^^^^^~7PBGPP55555555555555555YYYYYYYY555GP7~^^^^:::::::::::..                                                          
                                                                 ...:::::::::::::^^^:^^~!YGGP555555YYYYY5555YYY5YYYYY55PG57~^^^^^:::::::::::::::...                                                     
                                                             ....::::..::::::::::::::::^~!JPGP5555YYYYYYY5YYY5YYYYY555PPY!~^^^^^::::::::::::...........                                                 
                                                        ........:::...:::::::.::::::::::^^~!YPPP555YYYYYYYYYYYYYY5555557~^^^::::::::::::::::::.............                                             
                                                   ...........::::......::::...:::::::::::^^~75P5555YYYYYYYYYY5555555J!~^^^:::::::::::......:::::::............                                         
                                                ............:::........:::::.....::::::::::::^~J5YY555YYYYY5555YYY55?~^^^::::::::::::.......::::..::..............                                      
                                              ....::::.....::::.......:::.::.....::::::~7?J7:::^7YYYYYY555555YYYY55?~^^^::::.......::.......:::::...:.......::.......                                   
                                           ..:::::...::...::::.......::::::......:::^!?YYYYY?^:::~?YYYYY55YYYY5YY?!^:^^::.^7!^::.............:::.:..:............:::....                                
                                         ..:::::::...::::::::.......:::::::......:~7???JJJJYYJ?!~^^~?YYY5JJJJ??~^^^::::::~?JJJJ7!^::..........::.:...:.........:..::::::..                              
                                        .:.:::.:::::::::::::..:....:::.::::...:^!7???7???JJJJJJJJJ?7!!?J55Y?!^^~!??7!7777??77??JJ??77!^::.....::..:..::.........::::..::....                            
                                       .^::.:::::::::::::::::::..:::...:::::^~7777777!!777777???7?????7!7?!~!7?JJJ????77777!~!!!!~^~!77!~~^^:::::.:....:...:.:::::::...:..::.                           
                                      .^^^^^::::::::::^::::::::.::::...::::^^^^:::::::^^^^^^^~!77777!!7!^^~~!!777777777777!^:::::::::::::::^^^::::::...::..:.:::::::...:::::^.                          
                                      ^^^^^~^:::::::::^::^:::::::::...::::::::::.:.::::::::::^~!!!~~^:^~~~~~!!7!!!!!77!!!~^::::::::::::.:....:..::::....::.:::::::::..::~::^:^.                         
                                     ^^^^^:^~^:::::::^^::::::::::....:::::::::::.:.:::::::::::::^^^:::^~~~~^^^^^^^^^^^^^:::.:::::::::::......:...::::....::.:::::::::::^^::^^^^                         
                                    ^^^^^^::^!^::::::^:::::::::::...:::::::::::..:.::::::::::::::::::::^^~:.:::::::::::::::.:::::::::::......:...:::::...:::::::::::::^~^::^^^^:                        
                                   :^^^^^~^::~!^:^:::^:::::^::::....:::::::::::..:.:.:::::::::::::::::::::..:::::::::::::::.:::::::::::....:.::::::::::.:.::::::::::^:~~^::^^^^^:                       
                                  .^^^^^^^~^:^!~::^^^^::::^:::::.:.::::::::::::.:..:.::::::::::::::::::.....::::::::::::..:.:::::::::::....:.:::::::::::::::::::^::^:^~~^^:^^^^^^.                      
                                  ^^^^^^^^~~::^!~::~^::::^^::::..:.::::::::::::.:.::.:::::::::::::::::.::.:.:::::::::::::::.:::::::::::..:.:.:::::::::::::::::^^^:^^^~~^^^:^^^^^^^.                     
                                 :~^^^^^^^^~^::~!^:^~:::^~^::::::::::::::::::::.:.:::::::::::::::::.:::::.:::::::::::::::::.::::::::::::.:::::::::::::::::::::^^::~~^~~^^::^^^^^^^^.                    
                                 ~~^^^^^^^^~~^:^!!^:^^:^~~::::::::::::::::::::::::::::::::::::::::::::::..::::::::::::::::::::::::::::::.:::::::::::::::::::::^::^!^~~~^^::^~^^^^^^^.                   
</pre>

</Layout>