---
// Component Imports
import Layout from '../layouts/Layout.astro';


// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout title="Accueil">

<h1>
  <em>Adam Ambrosino, Ingénieur Logiciel.</em>
</h1>

<img src="assets/Adam_AMBROSINO.jpg" alt="Adam Ambrosino, vu de face"/>

</Layout>