---
export interface Props {
	title: string;
}

const { title, frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
    <base href="/172.30.176.119:3000/"/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.2/dist/terminal.min.css" />
		<meta name="generator" content={Astro.generator} />
    <meta property="og:title" content="Portfolio d'Adam Ambrosino" />
    <meta property="og:site_name" content="Portfolio d'Adam Ambrosino" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://adam-ambrosino.tk/assets/ADAM_AMBROSINO.png" />
    <meta property="og:image:alt" content="Adam Ambrosino, de face, sur fond blanc" />
    <meta property="og:url" content="https://adam-ambrosino.tk/" />
    <meta property="og:locale" content="fr_FR" />
    <meta name="twitter:title" content="Portfolio d'Adam Ambrosino" />
    <meta name="twitter:url" content="https://adam-ambrosino.tk/" />
    <meta name="twitter:image:src" content="https://adam-ambrosino.tk/" />
    <meta name="twitter:image:alt" content="Adam Ambrosino, de face, sur fond blanc" />
		<title>{title ?? frontmatter.title}</title>
	</head>
	<style>
  :root {
    --global-font-size: 15px;
    --global-line-height: 1.4em;
    --global-space: 5px;
    --font-stack: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    --mono-font-stack: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    --background-color: #222225;
    --page-width: 60em;
    --font-color: #e8e9ed;
    --invert-font-color: #222225;
    --secondary-color: #707277;
    --tertiary-color: #a3abba;
    --primary-color: #62c4ff;
    --error-color: #ff3c74;
    --progress-bar-background: #3f3f44;
    --progress-bar-fill: #62c4ff;
    --code-bg-color: #3f3f44;
    --input-style: solid;
    --display-h1-decoration: none;
  }
	#navbar {
		overflow: hidden;
		position: sticky;
    background: var(--background-color);
		top: 0;
		font-size: larger;
		z-index: 5;
    margin: 1%;
	}
  #navbar hr {
    margin-bottom: 0;
  }
	</style>
	<body class="terminal">
		<div id="navbar">
      <div class="terminal-nav">
        <div class="logo terminal-prompt">
          <a href="/">Adam Ambrosino</a>
        </div>
        <nav class="terminal-menu">
          <ul>
            <li><a href="/projects">Projets</a></li>
            <li><a href="/skills">Compétences</a></li>
            <li><a href="/background">Parcours</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
      </div>
      <hr>
		</div>
    <main class="container">
		  <slot />
    </main>
	</body>
</html>
